/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG
{
	background-color:#CCCCCC; /*Mau nen ben ngoai*/
	filter: alpha(opacity=65);
	-moz-opacity: 0.5;
	opacity: 0.5;	
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window
{
	position: absolute;
	background: #ffffff; /*Mau nen ben trong*/
	z-index: 102;
	color: #000000;
	display: none;
	border: 2 solid red;
	text-align: left;
	/*top: 50%;
	left: 50%;*/
	padding: 0px;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 5px 0 0 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 10px 10px 15px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 0 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 5px 5px 5px;
	margin-bottom:1px;
	
	text-align:right;
	float:right;
}

#TB_closeWindowButton
{
	font: bold 100% "Lucida Grande", Arial, sans-serif;
	color:#000000;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 5px;
	margin-bottom:1px;
	
}

#TB_title{
	background-color:#79e5ff;
	color:#000000;
	font: bold 100% "Lucida Grande", Arial, sans-serif;
	height:28px;
	border-bottom:1px solid #65D0F2;
}

#TB_ajaxContent{
	clear:both;
	padding:0 0 0 0;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent .TB_modal{
	padding:0;
}

#TB_ajaxContent p{
	padding:0;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:158px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
	color:Yellow;
}

* html #TB_load { /* ie6 hack */
position: absolute;
/*margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');*/
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
.dvTop
{
	float:left;
	width:100%;
	height:5px;
	/*background-image:url(../Images/bg_img.jpg);*/
	background-repeat:repeat-x;
}
.dvTop .dvTopLeft
{
	float:left;
	height:5px;
	width:5px;
	background-color:transparent;
	/*background:url(../Images/topleft.gif) no-repeat left top;*/
}

.dvTop .dvTopRight
{
	float:right;
	height:5px;
	width:5px;
	background-color:transparent;
	/*background:url(../Images/topright.gif) no-repeat right top;*/
}
.dvBottom
{
	float:left;
	width:100%;
	height:0px;
	background:transparent;
}
.dvBottom .dvBottomLeft
{
	float:left;
	height:0px;
	width:5px;
	background-color:transparent;
	/*background:url(../Images/bottomleft.gif) no-repeat left bottom;*/
}

.dvBottom .dvBottomRight
{
	float:right;
	height:0px;
	width:5px;
	background-color:transparent;
	/*background:url(../Images/bottomright.gif) no-repeat right bottom;*/
}
.dvTitle
{
	width: 100%;
	height: 22px;
	background-color:#e8edf7;
	/*background-image:url(../Images/bg_img.jpg);*/
	/*background-repeat: repeat-x;*/
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color:#3b5998;
	/*border:solid 1px #cfcfcf;*/
	border-bottom:none;
	/*padding: 4px 5px 0px;*/
}
.dvContent
{
	/*width: 100%;*/
	/*width:100%;
	background-color:#ffffff;
	border:1px solid #cfcfcf;*/
	/*padding: 5px 0px 5px 0px;*/
	padding:10px 0px 0px 0px;
	background-color:#ffffff;
}
#Content
{
	/*background-color:transparent;*/
}

/***************************************************************************************************/
/*			Level 2
*/

#TB_windowLevel2 {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_windowLevel2 a:link {color: #000000;}
#TB_windowLevel2 a:visited {color: #000000;}
#TB_windowLevel2 a:hover {color: #000;}
#TB_windowLevel2 a:active {color: #000000;}
#TB_windowLevel2 a:focus{color: #000000;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlayLevel2 {
	position: fixed;
	z-index:150;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHackLevel2 {background: url(macFFBgHack.png) repeat;}
.TB_overlayBGLevel2 {
	background-color:#CCCCCC; /*Mau nen ben ngoai*/
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlayLevel2 { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_windowLevel2 {
	position: fixed;
	background: #f5f5f5; /*Mau nen ben trong*/
	z-index: 152;
	color:#000000;
	display:none;
	border: 2 solid red;
	text-align:left;
	top:50%;
	left:50%;
	padding:0;
}

* html #TB_windowLevel2 { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_windowLevel2 img#TB_Image {
	display:block;
	margin: 5px 0 0 5px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}


#TB_loadLevel2{
	position: fixed;
	display:none;
	height:13px;
	width:158px;
	z-index:153;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
	color:Yellow;
}

* html #TB_loadLevel2 { /* ie6 hack */
position: absolute;
/*margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');*/
}

#TB_HideSelectLevel2{
	z-index:199;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelectLevel2 { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
#ContentLevel2
{
	background-color:#ffffff;
}

/************************************************************************** Start Radius Popup *******************************************************/

.BTRadiusL
{
	background:url("Images/BTRadiusL.jpg") no-repeat;
	width:15px;
	height:31px;
}

.BTRadiusR
{
	background:url("Images/BTRadiusR.jpg") no-repeat;
	width:15px;
	height:31px;
}

.BBRadiusL
{
	background:url("Images/BBRadiusL.jpg") no-repeat;
	width:15px;
	height:15px;
}

.BBRadiusR
{
	background:url("Images/BBRadiusR.jpg") no-repeat;
	width:15px;
	height:15px;
}

.BT
{
	background:url("Images/BT.jpg") repeat-x scroll 0 0;
	height:31px;
}

.BR
{
	background:url("Images/BR.jpg") repeat-y scroll 0 0;
	width:15px;
}

.BB
{
	background:url("Images/BB.jpg") repeat-x scroll 0 0;
	height:15px;
}

.BL
{
	background:url("Images/BL.jpg") repeat-y scroll 0 0;
	width:15px;
}

.Content
{
	background-color:#ffffff;
}

/************************************************************************** End Radius Popup *******************************************************/