<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Uploads" value="D:\LamViec\Site\Hoclaptrinhweb.com\Code\HocLapTrinhWeb\HocLapTrinhWeb\Upload\Image"/>
    
    <!--Khi len server-->
    <!--<add key="Uploads" value="C:\inetpub\wwwroot\Back\Upload\Image"/>-->
    
    <add key="HLTWUploads" value="Upload/Image/"/>
    <add key="Time" value="1800000"/>
    <add key="Key" value="HocLapTrinhWeb.com"/>
    <add key="ValidKey" value="Wk6ZOx0sTU5HPuEvkmX6sg=="/>
    <add key="cs_sqlserver" value="Data Source=103.8.49.97;Initial Catalog=HocLapTrinhWeb.com;User ID=vnn;Password=vnn123456;"/>
    <!--<add key="cs_sqlserver" value="Data Source=VONHATNAM-PC\SQLServerR2;Initial Catalog=HocLapTrinhWeb.com;User ID=sa;Password=vnn123456;"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
