@charset "utf-8";

.ibutton {
    background: -moz-linear-gradient(center top , #DADADA, #EFEFEF 2px, #DADADA 25px) repeat scroll 0 0 transparent;
     border: 1px solid #999999;
    border-radius: 3px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    width: auto;
	margin: 0;
    padding: 5px;
	height:27px;
}
.ibutton:hover, .ibutton:focus {
    background: none repeat scroll 0 0 #DADADA;
}

.itext, .itextarea, .iselect {
    background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 2px, #FFFFFF 25px) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 5px;
    height:15px;
}
.itext:hover, .itextarea:hover, .iselect:hover, .itext:focus, .itextarea:focus, .iselect:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #333333;
}
