
/* Dashboard Button */			
.dashboard_button{
	float:left;
	width:185px;
	height:80px;
	overflow:hidden;
	border:1px solid #c0c0c0;
	padding:15px;
	margin:0 12px 12px 0;
	background:#eaeaea url(img/highlight_line.gif) repeat-x top left;
	font-size:11px;
	line-height:1.4em;
	text-decoration:none;
	color:#a1a1a1;
	}
.dashboard_button span{
	display:block;
	padding-top:7px;
	}
.dashboard_button_heading{
	display:block;
	color:#4a4a4a;
	font-size:14px;
	padding:0 0 0 40px;
	line-height:29px;
	height:35px;
	}
.two_lines.dashboard_button_heading{
	line-height:17px;
	}
.dashboard_button:hover{
	background:#ddd;
	border:1px solid #aaa;
	padding-top:16px;
	height:79px;
}
.dashboard_button:hover .dashboard_button_heading{
	color:#222;
}

.news .dashboard_button_heading{ background:transparent url(img/icons/32x32/news.png) no-repeat 0px top;	}
.user .dashboard_button_heading{ background:transparent url(img/icons/32x32/user.png) no-repeat 0px top;	}
.newstype .dashboard_button_heading{ background:transparent url(img/icons/32x32/newstype.png) no-repeat 0px top;	}
.tags .dashboard_button_heading{ background:transparent url(img/icons/32x32/tags.png) no-repeat 0px top;	}
.updatenews .dashboard_button_heading{ background:transparent url(img/icons/32x32/updatenews.png) no-repeat 0px top;	}
.contact .dashboard_button_heading{ background:transparent url(img/icons/32x32/contact.png) no-repeat 0px top;	}
.comment .dashboard_button_heading{ background:transparent url(img/icons/32x32/comment.png) no-repeat 0px top;	}
.config .dashboard_button_heading{ background:transparent url(img/icons/32x32/config.png) no-repeat 0px top;	}
.alexa .dashboard_button_heading{ background:transparent url(img/icons/32x32/alexa.png) no-repeat 0px top;	}
.advertising .dashboard_button_heading{ background:transparent url(img/icons/32x32/advertising.png) no-repeat 0px top;	}
.video .dashboard_button_heading{ background:transparent url(img/icons/32x32/video.png) no-repeat 0px top;	}

