<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="combres" type="Combres.ConfigSectionSetting, Combres, Version=2.0.0.0, Culture=neutral, PublicKeyToken=49212d24adfbe4b4" />
  </configSections>
  <combres definitionUrl="~/App_Data/minres.xml" />
  <appSettings configSource="App.config" />
  <connectionStrings configSource="db.config" />
  <system.web>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Vsa, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xaml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--Allow ajax-->
    <httpHandlers>
      <add verb="GET" path="ImageVerifier.axd" type="NatsNet.Web.UI.Controls.ImageVerifier, NatsNet.Web.UI.Controls" />
      <add path="ScriptResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="True" />
    </httpHandlers>
    <httpModules>
      <add name="MyModule" type="AspNetResources.Web.MyModule" />
    </httpModules>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms timeout="600"></forms>
    </authentication>
    <sessionState timeout="600"></sessionState>
    <customErrors mode="On" defaultRedirect="error.html">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.html"/>
    </customErrors>
    <!--<customErrors mode="Off" />-->
    <!--Cau hinh webservice-->
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
        <!--<remove name="Documentation"/>-->
      </protocols>
    </webServices>
    <!--End Cau hinh webservice-->
    <globalization enableClientBasedCulture="true" culture="vi-VN" uiCulture="vi-VN" />
    <httpRuntime maxRequestLength="102400" executionTimeout="36000" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
      <!--Add de cac control validate de dung chung voi asp.net ajax. Vi nhung control validate cua .net hien thoi
      khong dung chung duoc voi asp.net ajax.-->
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="System.Web.UI.WebControls.CompareValidator, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="System.Web.UI.WebControls.CustomValidator, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="System.Web.UI.WebControls.RangeValidator, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="System.Web.UI.WebControls.RegularExpressionValidator, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="System.Web.UI.WebControls.RequiredFieldValidator, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="System.Web.UI.WebControls.ValidationSummary, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </tagMapping>
    </pages>
  </system.web>
  <!--Can thiet khi DefaultAppPool mode=intergrated, neu classic thi khong can-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--Config Combres-->
    <!--<modules runAllManagedModulesForAllRequests="true">-->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="MyModule" type="AspNetResources.Web.MyModule" />
    </modules>
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler" />
      <add name="ImageVerifier" verb="GET" path="ImageVerifier.axd" type="NatsNet.Web.UI.Controls.ImageVerifier, NatsNet.Web.UI.Controls" />
    </handlers>
    <!--<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="application/x-javascript" enabled="true"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="application/x-javascript" enabled="true"/>
      </staticTypes>
    </httpCompression>-->
    <security>
      <requestFiltering>
        <!--with IIS7-->
        <requestLimits maxAllowedContentLength="1024000000" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Tag">
          <match url="^tag/(.*).aspx" />
          <action type="Rewrite" url="tag/default.aspx?tagname={R:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="Image">
          <match url="^images/w(\d+)-(.*).ashx" />
          <action type="Rewrite" url="handler/thumbnail.ashx?w={R:1}&amp;p={R:2}" logRewrittenUrl="true" />
        </rule>
        <rule name="ImageVideo">
          <match url="^images/video/w(\d+)-(.*).ashx" />
          <action type="Rewrite" url="handler/thumbnailvideo.ashx?w={R:1}&amp;p={R:2}" logRewrittenUrl="true" />
        </rule>
        <rule name="Video">
          <match url="^video/(.*)/(.*)-hltw(\d+).aspx" />
          <action type="Rewrite" url="Video/VideoDetail.aspx?catname={R:1}&amp;title={R:2}&amp;VideoID={R:3}" logRewrittenUrl="true" />
        </rule>
        <rule name="VideoType">
          <match url="^video/(.*)/hltw(\d+).aspx" />
          <action type="Rewrite" url="Video/VideoType.aspx?title={R:1}&amp;VideoTypeID={R:2}" logRewrittenUrl="true" />
        </rule>
        <rule name="News">
          <match url="^(.*)/(.*)-hltw(\d+).aspx" />
          <action type="Rewrite" url="NewsDetail.aspx?catname={R:1}&amp;title={R:2}&amp;NewsID={R:3}" logRewrittenUrl="true" />
        </rule>
        <rule name="NewsType">
          <match url="^(.*)/hltw(\d+).aspx" />
          <action type="Rewrite" url="News.aspx?title={R:1}&amp;NewsTypeID={R:2}" logRewrittenUrl="true" />
        </rule>
        <rule name="RSS">
          <match url="^rss/(.*)-rss(\d+).aspx" />
          <action type="Rewrite" url="rss/RssDetailt.aspx?title={R:1}&amp;NewsTypeID={R:2}" logRewrittenUrl="true" />
        </rule>
        <rule name="Today">
          <match url="^daily/(.*).aspx" />
          <action type="Rewrite" url="today.aspx?ngay={R:1}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
