<appSettings>
	<!--<add key="Key" value="HLTW"/>
	<add key="ValidKey" value="N/yZu3+n0mx9HJwxMikr2w=="/>
	<add key="Language" value="vi-VN"/>-->
  <add key="Key" value="MyLife"/>
  <add key="ValidKey" value="PqV5HWfyLWdJZLKn4lMVQA=="/>
  <add key="Language" value="vi-VN"/>
  

  <!-- Cấu hình Email -->	
	<!--<add key="DisplayName" value="Hoc Lap Trinh Web"/>
	<add key="Email" value="vonhatnam@hoclaptrinhweb.com"/>
  <add key="HostMail" value="smtp.live.com"/>
  <add key="PostMail" value="25"/>
	<add key="MailPass" value="hltw183492760505"/>
	<add key="EmailCC" value="vonhatnam@hoclaptrinhweb.com"/>-->
  
  <add key="DisplayName" value="Hoclaptrinhweb.com"/>
  <add key="Email" value="webhoclaptrinh@gmail.com"/>
  <add key="HostMail" value="smtp.gmail.com"/>
  <add key="PostMail" value="587"/>
  <add key="MailPass" value=""/>
  <add key="EmailCC" value="webhoclaptrinh@gmail.com"/>


	<!-- Phân trang cho griview cho trang admin -->
	<add key="PageSize" value="30"/>
	<add key="PageButtonCount" value="3"/>

	<!-- Cau hinh luu file san pham -->
	<add key="ImagesProducts" value="Upload/Products/"/>

	<!-- Thời gian cảnh báo cập nhật tin (minute) -->
	<add key="Warning" value="240"/>
	
	<!-- Cau hinh luu file News -->
  <add key="ImagesNews" value="Upload/Image/"/>
  <add key="ImagesVideo" value="Upload/Video/"/>

  <add key="ImageRoot" value="~/Upload/Image/"/>
  <add key="FilesRoot" value="~/files/"/>

	<!-- Phân trang cho trang work -->
	<add key="Work_PageSize" value="9"/>

	<!--Giới hạn ký tự-->
	<add key="SubTitle" value="55"/>
	<add key="SubBrief" value="90"/>

	<!-- Thumbnail size -->
	<add key="MaxThumbnailSize" value="90"/>
	
	<!-- Image size -->
	<add key="MaxImageSize" value="370"/>
	<add key="MaxWithImageSize" value="370"/>
	<add key="MaxHeightImageSize" value="250"/>

</appSettings>