<appSettings>
  <add key="Key" value="HocLapTrinhWeb.com"/>
  <add key="ValidKey" value="Wk6ZOx0sTU5HPuEvkmX6sg=="/>
  <add key="Language" value="vi-VN"/>
  
  <add key="DisplayName" value="Hoclaptrinhweb.com"/>
  <add key="Email" value="webhoclaptrinh@gmail.com"/>
  <add key="HostMail" value="smtp.gmail.com"/>
  <add key="PostMail" value="587"/>
  <add key="MailPass" value=""/>
  <add key="EmailCC" value="webhoclaptrinh@gmail.com"/>


	<!-- Phân trang cho griview cho trang admin -->
	<add key="PageSize" value="30"/>
	<add key="PageButtonCount" value="3"/>

	<!-- Cau hinh luu file san pham -->
	<add key="ImagesProducts" value="Upload/Products/"/>

	<!-- Thời gian cảnh báo cập nhật tin (minute) -->
	<add key="Warning" value="240"/>
	
	<!-- Cau hinh luu file News -->
  <add key="ImagesNews" value="Upload/Image/"/>
  <add key="ImagesVideo" value="Upload/Video/"/>

  <add key="ImageRoot" value="~/Upload/Image/"/>
  <add key="FilesRoot" value="~/files/"/>

	<!-- Phân trang cho trang work -->
	<add key="Work_PageSize" value="9"/>

	<!--Giới hạn ký tự-->
	<add key="SubTitle" value="55"/>
	<add key="SubBrief" value="90"/>

	<!-- Thumbnail size -->
	<add key="MaxThumbnailSize" value="90"/>
	
	<!-- Image size -->
	<add key="MaxImageSize" value="370"/>
	<add key="MaxWithImageSize" value="370"/>
	<add key="MaxHeightImageSize" value="250"/>

  <!-- Facebook Config-->
  <add key="client_id" value="312319252170353"/>
  <add key="redirect_uri" value="http://localhost/hltw/"/>
  <add key="client_secret" value="dc9f4528949a8aaa528839ea45a7b269"/>

</appSettings>