<connectionStrings>
  <!--<add name="cs_sqlserver" connectionString="Data Source=127.0.0.1;Initial Catalog=HocLapTrinhWeb.com;User ID=sa;Password=vnn123456;" />-->
  <add name="cs_sqlserver" connectionString="Data Source=123.30.241.222;Initial Catalog=HocLapTrinhWeb.com;User ID=sa;Password=vnn123456;" />
</connectionStrings>