<connectionStrings>
  <!--<add name="cs_sqlserver"
       connectionString="Data Source=VONHATNAM-PC;Initial Catalog=HocLapTrinhWeb_MyLife;User ID=vnn;Password=123456;" />-->
  <add name="cs_sqlserver" connectionString="Data Source=112.213.89.57;Initial Catalog=HocLapTrinhWeb_MyLife;User ID=vnn;Password=123456;" />
</connectionStrings>