<connectionStrings>
  <add name="cs_sqlserver" connectionString="Data Source=VONHATNAM-PC\SQLServerR2;Initial Catalog=HocLapTrinhWeb.com;User ID=sa;Password=vnn123456;" />
  <!--<add name="cs_sqlserver" connectionString="Data Source=103.8.49.97;Initial Catalog=HocLapTrinhWeb.com;User ID=vnn;Password=vnn123456;" />-->
</connectionStrings>