<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="combres" type="Combres.ConfigSectionSetting, Combres, Version=2.0.0.0, Culture=neutral, PublicKeyToken=49212d24adfbe4b4"/>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
		<rewrites>
			<add name="Rewrite" virtualUrl="~/default.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx" ignoreCase="true"/>
			<add name="LoaiTinTuc" virtualUrl="^~/(.*)/hltw(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/News.aspx?NewsTypeID=$2&amp;title=$1" ignoreCase="true"/>
			<add name="HinhanhNew" virtualUrl="^~/images/w(\d*)-(.*).ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/handler/thumbnail.ashx?p=$2&amp;w=$1" ignoreCase="true"/>
			<add name="Hinhanh" virtualUrl="^~/images/(.*).ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/handler/thumbnail.ashx?p=$1" ignoreCase="true"/>
			<add name="ChiTietTinTuc" virtualUrl="^~/(.*)/(.*)-hltw(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?NewsID=$3&amp;title=$2&amp;catname=$1" ignoreCase="true"/>
			<add name="ChiTietRss" virtualUrl="^~/rss/(.*)-rss(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/rss/RssDetailt.aspx?NewsTypeID=$2&amp;title=$1" ignoreCase="true"/>
			<add name="NewsToday" virtualUrl="^~/daily/(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/today.aspx?ngay=$1" ignoreCase="true"/>
			<add name="nonWWW" redirectMode="Permanent" redirect="Domain" ignoreCase="true" rewriteUrlParameter="IncludeQueryStringForRewrite" virtualUrl="http://hoclaptrinhweb.com/(.*)" destinationUrl="http://www.hoclaptrinhweb.com/$1"/>
			<add name="nonWWW0" redirectMode="Permanent" redirect="Domain" ignoreCase="true" rewriteUrlParameter="IncludeQueryStringForRewrite" virtualUrl="http://hoclaptrinhweb.vn/(.*)" destinationUrl="http://www.hoclaptrinhweb.vn/$1"/>
      <add name="nonWWW1" redirectMode="Permanent" redirect="Domain" ignoreCase="true" rewriteUrlParameter="IncludeQueryStringForRewrite" virtualUrl="http://hoclaptrinhweb.vn/(.*)" destinationUrl="http://www.hoclaptrinhweb.com/$1"/>
      <add name="nonWWW2" redirectMode="Permanent" redirect="Domain" ignoreCase="true" rewriteUrlParameter="IncludeQueryStringForRewrite" virtualUrl="http://www.hoclaptrinhweb.vn/(.*)" destinationUrl="http://www.hoclaptrinhweb.com/$1"/>
		</rewrites>
	</urlrewritingnet>
	<combres definitionUrl="~/App_Data/minres.xml"/>
	<appSettings configSource="App.config"/>
	<connectionStrings configSource="db.config"/>
	<system.web>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="Microsoft.Vsa, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xaml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
	</compilation>
		<!--Allow ajax-->
		<httpHandlers>
			<add verb="GET" path="ImageVerifier.axd" type="NatsNet.Web.UI.Controls.ImageVerifier, NatsNet.Web.UI.Controls"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="MyModule" type="AspNetResources.Web.MyModule"/>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms timeout="600"></forms>
		</authentication>
		<sessionState timeout="600"></sessionState>
		<customErrors mode="RemoteOnly" defaultRedirect="error.html">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<!--<customErrors mode="Off" />-->
		<!--Cau hinh webservice-->
		<webServices>
			<protocols>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
				<!--<remove name="Documentation"/>-->
			</protocols>
		</webServices>
		<!--End Cau hinh webservice-->
		<globalization enableClientBasedCulture="true" culture="vi-VN" uiCulture="vi-VN"/>
		<httpRuntime maxRequestLength="102400" executionTimeout="36000"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
			</controls>
			<!--Add de cac control validate de dung chung voi asp.net ajax. Vi nhung control validate cua .net hien thoi
      khong dung chung duoc voi asp.net ajax.-->
			<tagMapping>
				<add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
			</tagMapping>
		</pages>
	</system.web>
	<!--Can thiet khi DefaultAppPool mode=intergrated, neu classic thi khong can-->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="MyModule" type="AspNetResources.Web.MyModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
		</handlers>
		<security>
			<requestFiltering>
				<!--with IIS7-->
				<requestLimits maxAllowedContentLength="1024000000"/>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
