<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.MyLifeConnectionString"
            connectionString="Data Source=NHATNAM\SQLEXPRESS;Initial Catalog=MyLife;Persist Security Info=True;User ID=vnn;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HocLapTrinhWeb_MyLifeConnectionString"
            connectionString="Data Source=.\sqlExpress;Initial Catalog=HocLapTrinhWeb_MyLife;User ID=vnn;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HocLapTrinhWeb_MyLifeConnectionString1"
            connectionString="Data Source=192.168.10.90\SQLExpress;Initial Catalog=HocLapTrinhWeb_MyLife;Persist Security Info=True;User ID=vnn;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HLTWConnectionString"
            connectionString="Data Source=VONHATNAM-PC;Initial Catalog=HLTW;Persist Security Info=True;User ID=vnn;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HocLapTrinhWeb_MyLifeConnectionString2"
            connectionString="Data Source=VONHATNAM-PC;Initial Catalog=HocLapTrinhWeb_MyLife;User ID=vnn;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HocLapTrinhWeb_MyLifeConnectionString3"
            connectionString="Data Source=112.213.89.57;Initial Catalog=HocLapTrinhWeb_MyLife;Persist Security Info=True;User ID=vnn;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HocLapTrinhWeb_MyLifeConnectionString4"
            connectionString="Data Source=Nhatnam;Initial Catalog=HocLapTrinhWeb_MyLife;Persist Security Info=True;User ID=sa;Password=vnn123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HLTW_MyLifeConnectionString"
            connectionString="Data Source=VONHATNAM-PC\SQLServerR2;Initial Catalog=HLTW_MyLife;User ID=sa;Password=vnn123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HocLapTrinhWeb_MyLifeConnectionString5"
            connectionString="Data Source=112.213.89.157;Initial Catalog=HocLapTrinhWeb_MyLife;Persist Security Info=True;User ID=vnn;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HLTW_MyLifeConnectionString1"
            connectionString="Data Source=NHATNAM;Initial Catalog=HLTW_MyLife;Persist Security Info=True;User ID=sa;Password=vnn123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HocLapTrinhWeb_comConnectionString"
            connectionString="Data Source=VONHATNAM-PC\SQLServerR2;Initial Catalog=HocLapTrinhWeb.com;Persist Security Info=True;User ID=sa;Password=vnn123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HocLapTrinhWeb_comConnectionString1"
            connectionString="Data Source=103.8.49.97;Initial Catalog=HocLapTrinhWeb.com;Persist Security Info=True;User ID=vnn;Password=vnn123456"
            providerName="System.Data.SqlClient" />
        <add name="HocLapTrinhWeb.BLL.Properties.Settings.HocLapTrinhWeb_comConnectionString2"
            connectionString="Data Source=.;Initial Catalog=HocLapTrinhWeb.com;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
